<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>アフパルポータブル計算機 - slackpulse</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav>
    <div class="nav-wrapper blue darken-4" role="navigation">
      <a class="brand-logo" href="#">slackpulse</a>
    </div>
  </nav>

  <div class="container" id="app">
    <h3>ポータブル計算機</h3>
    <div class="row">
      <div class="input-field col s6">
        <input id="portability-headgear" name="headgear" type="number" class="form-control"
        max="1000" min="0" v-model="headPortable" required />
        <label for="portability-headgear">頭</label>
      </div>
      <div class="input-field col s6">
        <input id="portability-torso" name="torso" type="number" class="form-control" min="0"
        max="1000" v-model="torsoPortable" required />
        <label for="portability-torso">胴体</label>
      </div>
      <div class="input-field col s6">
        <input id="portability-pants" name="pants" type="number" class="form-control" min="0"
        max="1000" v-model="pantsPortable" required />
        <label for="portability-pants ">脚</label>
      </div>
      <div class="input-field col s6">
        <input id="portability-weapon" name="weapon" type="number" class="form-control"
        min="0" max="1000" v-model="weaponPortable" required />
        <label for="portability-weapon">武器</label>
      </div>
      <div class="input-field col s6 ">
        <input id="portability-addition" name="weapon" type="number" class="form-control"
        min="0" max="10" v-model="additionalRate" required />
        <label for="portability-addition ">加算率(%)</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <span class="label label-default">表示ポータブル</span>
        <h4><span class="label label-primary">{{sum | commify}}</span></h4>
      </div>
      <div class="col s4">
        <span class="label label-default">算出ポータブル</span>
        <h4><span class="label label-primary">{{portable | commify}}</span></h4>
      </div>
      <div class="col s4">
        <span class="label label-default">スケート可能</span>
        <h4><span class="label label-info" v-text="skating ? 'はい' : 'いいえ' "></span></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn blue" v-on:click.stop.prevent="save">追加</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <table class="centered highlight" v-if="histories.length">
          <thead>
            <tr>
              <th>頭</th>
              <th>胴</th>
              <th>脚</th>
              <th>武</th>
              <th>加</th>
              <th>表示</th>
              <th>算出</th>
              <th>ス</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tr v-for="record in histories ">
            <td>{{record.headPortable | commify}}</td>
            <td>{{record.torsoPortable | commify}}</td>
            <td>{{record.pantsPortable | commify}}</td>
            <td>{{record.weaponPortable | commify}}</td>
            <td>{{record.additionalRate}}</td>
            <td>{{record.sum | commify}}</td>
            <td>{{record.portable | commify}}</td>
            <td>{{record.skating ? 'o' : 'x'}}</td>
            <td>
              <a class="waves-effect waves-light btn btn-floating orange darken-2" v-on:click.stop.prevent="remove(record.uuid)"><i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a v-show="histories.length" class="waves-effect waves-light btn red" v-on:click.stop.prevent="clear ">クリア</a>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="card-panel hoverable red lighten-5 ">
      <p>運営によるとポータブルはユーザーには表示されない複数の値から算出されているとのことです。そのため計算機の結果はあくまで参考値としてご利用ください。
      <br />また、現在のところ<算出値及びスケート可否はパトリオット(准将)のパンツには<a href="https://slackpulse.github.io/images/patriot-experiment-1.png">対応していません</a>。
      </p>
    </div>
  </div>

  <footer class="page-footer blue darken-3 ">
    <div class="footer-copyright blue darken-4 ">
      <div class="container ">
        &copy; slackpulse 2016
      </div>
    </div>
  </footer>
  <!-- /container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js "></script>
  <script>
    window.jQuery || document.write(
      '<script src="js/vendor/jquery-1.11.2.min.js "><\/script>'
    )
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js "></script>
  <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.0/lodash.min.js "></script>
  <script src="js/main.js "></script>
  <script>
    (function(b, o, i, l, e, r)
    {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] = function()
      {
        (b[l].q = b[l].q || []).push(arguments)
      });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = 'https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-80136739-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
