<div>
  <h5 v-translate>PORTABILITY CALCULATOR</h5>
  <div class="row">
    <div class="input-field col s6">
      <input id="portability-headgear" name="headgear" type="number" max="1000" min="0" v-model="headPortable">
      <label class="active" for="portability-headgear" v-translate>HEADGEAR</label>
    </div>
    <div class="input-field col s6">
      <input id="portability-torso" name="torso" type="number" min="0" max="1000" v-model="torsoPortable">
      <label class="active" for="portability-torso" v-translate>TORSO</label>
    </div>
    <div class="input-field col s6">
      <input id="portability-pants" name="pants" type="number" min="0" max="1000" v-model="pantsPortable">
      <label class="active" for="portability-pants " v-translate>LEG</label>
    </div>
    <div class="input-field col s6">
      <input id="portability-weapon" name="weapon" type="number" min="0" max="1000" v-model="weaponPortable">
      <label class="active" for="portability-weapon" v-translate>WEAPON</label>
    </div>
    <div class="col s6">
      <label for="portability-addition" v-translate>+RATE(%)</label>
      <select class="browser-default" id="portability-addition" name="rate" v-model="additionalRate">
      <option value="0">0</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="7">7</option>
      <option value="10">10</option>
      <option value="12">12</option>
      <option value="17">17</option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <span v-translate>DISPLAYED PORTABILITY</span>
      <h4 v-if="isValid">{{sum | commify}}</h4>
      <h4 v-else>{{t('Error')}}</h4>
    </div>
    <div class="col s4">
      <span v-translate>CALCULATED PORTABILITY</span>
      <h4 v-if="isValid">{{portable | commify}}</h4>
      <h4 v-else>{{t('Error')}}</h4>
    </div>
    <div class="col s4">
      <span v-translate>SKATER</span>
      <h4 v-if="isValid">{{ t(skating ? 'YES' : 'NO') }}</h4>
      <h4 v-else>{{t('Error')}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <a v-bind:href="shareURL" class="share-button btn twitter"><i class="fa fa-twitter"></i>{{ t('TWEET') }}</a>
      <a class="save-button btn blue" v-on:click="save" v-translate>SAVE</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12" style="max-width: 100%; overflow-x: scroll;">
      <table class="saved-items centered highlight" v-if="histories && histories.length">
        <thead>
          <tr>
            <th v-translate>HEAD</th>
            <th v-translate>TORSO</th>
            <th v-translate>LEG</th>
            <th v-translate>WEAPON</th>
            <th v-translate>+RATE(%)</th>
            <th v-translate>DISPLAYED</th>
            <th v-translate>CALCULATED</th>
            <th v-translate>SKATER</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tr v-for="record in histories ">
          <td>{{record.headPortable | commify}}</td>
          <td>{{record.torsoPortable | commify}}</td>
          <td>{{record.pantsPortable | commify}}</td>
          <td>{{record.weaponPortable | commify}}</td>
          <td>{{record.additionalRate}}</td>
          <td>{{record.sum | commify}}</td>
          <td>{{record.portable | commify}}</td>
          <td>{{record.skating ? 'o' : 'x'}}</td>
          <td>
            <a class="waves-effect waves-light btn btn-floating orange darken-2" v-on:click="remove(record.uuid)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a v-show="histories && histories.length" class="waves-effect waves-light btn red" v-on:click="clear" v-translate>CLEAR</a>
    </div>
  </div>
</div>
