<h4>ポータブル計算機</h4>
<div class="row">
  <div class="input-field col s6">
    <input id="portability-headgear" name="headgear" type="number" max="1000" min="0" v-model="headPortable" required />
    <label class="active" for="portability-headgear">頭</label>
  </div>
  <div class="input-field col s6">
    <input id="portability-torso" name="torso" type="number" min="0" max="1000" v-model="torsoPortable" required />
    <label class="active" for="portability-torso">胴体</label>
  </div>
  <div class="input-field col s6">
    <input id="portability-pants" name="pants" type="number" min="0" max="1000" v-model="pantsPortable" required />
    <label class="active" for="portability-pants ">脚</label>
  </div>
  <div class="input-field col s6">
    <input id="portability-weapon" name="weapon" type="number" min="0" max="1000" v-model="weaponPortable" required />
    <label class="active" for="portability-weapon">武器</label>
  </div>
  <div class="col s6">
    <label for="portability-addition ">加算率(%)</label>
    <select class="browser-default" id="portability-addition" name="rate" type="number" min="0" max="10" v-model="additionalRate" required>
      <option value="0">0</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="7">7</option>
      <option value="10">10</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <span class="">表示ポータブル</span>
    <h4>{{sum | commify}}</h4>
  </div>
  <div class="col s4">
    <span class="">算出ポータブル</span>
    <h4>{{portable | commify}}</h4>
  </div>
  <div class="col s4">
    <span class="">スケート可能</span>
    <h4 v-text="skating ? 'はい' : 'いいえ' "></h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <a v-bind:href="shareURL" class="waves-effect waves-light btn twitter"><i class="fa fa-twitter"></i>シェア</a>
    <a class="waves-effect waves-light btn blue" v-on:click.stop.prevent="save">追加</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <table class="centered highlight" v-if="histories.length">
      <thead>
        <tr>
          <th>頭</th>
          <th>胴</th>
          <th>脚</th>
          <th>武</th>
          <th>加</th>
          <th>表示</th>
          <th>算出</th>
          <th>ス</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tr v-for="record in histories ">
        <td>{{record.headPortable | commify}}</td>
        <td>{{record.torsoPortable | commify}}</td>
        <td>{{record.pantsPortable | commify}}</td>
        <td>{{record.weaponPortable | commify}}</td>
        <td>{{record.additionalRate}}</td>
        <td>{{record.sum | commify}}</td>
        <td>{{record.portable | commify}}</td>
        <td>{{record.skating ? 'o' : 'x'}}</td>
        <td>
          <a class="waves-effect waves-light btn btn-floating orange darken-2" v-on:click.stop.prevent="remove(record.uuid)"><i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a v-show="histories.length" class="waves-effect waves-light btn red" v-on:click.stop.prevent="clear ">クリア</a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel hoverable red lighten-5 ">
      <p>運営によるとポータブルはユーザーには表示されない複数の値から算出されているとのことです。そのため計算機の結果はあくまで参考値としてご利用ください。
      </p>
    </div>
  </div>
</div>
