<h4>XP計算機</h4>
<div class="row">
  <div class="input-field col s6">
    <input id="xp-current-level2" type="number" class="active" min="1" v-model="currentLevel" required />
    <label class="active" for="xp-current-level2">現在の武器レベル</label>
  </div>
  <div class="col s6">
    <label for="mix-rank">素材の最大ランク</label>
    <select class="browser-default" id="mix-rank" name="rate" type="number" v-model="mixRank" required>
      <option value="1">★</option>
      <option value="2">★★</option>
      <option value="3">★★★</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col s12">所持金 ⇒ 到達レベル</div>
  <div class="input-field col s6">
    <input id="xp-money" type="number" min="0" v-model="money" required />
    <label class="active" for="xp-money">所持金</label>
  </div>
  <div class="input-field col s6">
    <label class="active">到達レベル</label>
    <h5>{{levelResult | commify}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">目標レベル ⇒ 費用</div>
  <div class="input-field col s6">
    <input id="xp-target-level" type="number" min="0" v-model="targetLevel" required />
    <label for="xp-target-level" class="active">目標レベル</label>
  </div>
  <div class="input-field col s6">
    <label class="active">費用</label>
    <h5>{{moneyResult | commify}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel hoverable blue lighten-5 ">
      <p>XPの経験値テーブルは<a href="http://afterpulsewiki.wixsite.com/generalalex/fusion">Afterpulse WikiのWEAPONS UPGRADE CHART</a>を参考にさせていただきました。</p>
    </div>
  </div>
</div>
