<h4>XP計算機</h4>
<div class="row">
  <div class="input-field col s6">
    <input id="xp-current-level2" type="number" class="active" min="1" v-model="currentLevel" required />
    <label class="active" for="xp-current-level2">現在のレベル</label>
  </div>
</div>
<div class="row">
  <div class="col s12">所持金 ⇒ 到達レベル</div>
  <div class="input-field col s6">
    <input id="xp-money" type="number" min="0" v-model="money" required />
    <label class="active" for="xp-money">お金</label>
  </div>
  <div class="input-field col s6">
    <label class="active">到達レベル</label>
    <h5>{{levelResult | commify}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">目標レベル ⇒ 費用</div>
  <div class="input-field col s6">
    <input id="xp-target-level" type="number" min="0" v-model="targetLevel" required />
    <label for="xp-target-level" class="active">目標レベル</label>
  </div>
  <div class="input-field col s6">
    <label class="active">必要なお金</label>
    <h5>{{moneyResult | commify}}</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel hoverable blue lighten-5 ">
      <p>XPの経験値テーブルは<a href="http://after-pulse.gamerch.com/武器レベル上げ表">アフターパルス攻略wikiさんのレベル上げ表</a>を参考にさせていただきました。Lv30以上は星1換算した場合の予測値のため、参考程度でお願いします。</p>
    </div>
  </div>
</div>
