<div>
  <h5 v-translate>EQUIPMENTS</h5>
  <div class="row">
    <div class="col s6">
      <label for="search-region" v-translate>POSITION</label>
      <select class="browser-default" id="search-region" v-model="searchRegion">
      <option value="ALL" v-translate>ALL</option>
      <option value="HEADGEAR" v-translate>HEAD</option>
      <option value="TORSO" v-translate>TORSO</option>
      <option value="LEGS" v-translate>LEG</option>
    </select>
    </div>
    <div class="col s6">
      <label for="search-star" v-translate>GRADE</label>
      <select class="browser-default" id="search-star" v-model.number="searchStar">
      <option value="0" v-translate>ALL</option>
      <option value="6">★6</option>
      <option value="5">★5</option>
      <option value="4">★4</option>
      <option value="3">★3</option>
      <option value="2">★2</option>
      <option value="1">★1</option>
    </select>
    </div>
    <div class="col s12" v-for="equipment in filteredEquipments" v-bind:key="equipment.id">
      <div class="card">
        <div class="card-content">
          <span class="card-title text-strong">
      {{equipment.name_ja}}<br />
        <span class="text-small">{{equipment.name}}</span>
          </span>
          <ul>
            <li class="blue lighten-2 white-text chip">{{equipment.region | regionFilter}}</li>
            <li><i class="orange-text text-darken-4 material-icons" v-for="n in equipment.star">star</i>
            </li>
            <li>ポータブル: {{equipment.portability}}</li>
            <li>防御力: {{equipment.defence}}</li>
            <li>ポータブル加算率: {{equipment.rate || 0}}</li>
            <li>効果: {{equipment.description}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
